<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daniel.dcalendar">

    <application>
        <activity
            android:name=".dview.DEventAdding"
            android:label="@string/title_activity_devent_adding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".dview.DEvent"></activity>
    </application>

</manifest>